<!-- collection: @users: This part specifies the collection of objects (@users) for which the partial should be rendered. For each element in the collection, the specified partial will be rendered with the local variable set to the current element.

So, if @users is an array of user objects, the partial 'user' will be rendered for each user in the array, and within the partial, you can access each user as a local variable. -->

<!-- the user argument has an id attribute of 1, the generated URL might look like "/users/1" -->

<section id="users">
  <%= render partial: 'users/user', collection: @users %>
</section>