<!-- locals is a way to pass local variables to a partial -->
<%= render partial: 'users/user', locals: { user: @user } %>
<div>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<hr><hr>

<section id="posts-container">
  <% @user.posts.limit(3).each do |post| %>
    <%= render partial: 'posts/post', locals: { post: post } %>
  <% end %>

  <%= link_to user_posts_path(@user) do %>
    <p style="display: flex; justify-content: center; text-shadow: 2px 2px 4px grey;">
      <span style="border: 3px solid grey; padding: 4px">See all posts</span>
    </p>

  <% end %>
</section>