
<%= render partial: 'users/user', locals: { user: @user } %>

<% @posts.each do |post| %>
  <%= render partial: 'posts/post_with_comments', locals: { post: post } %>
<% end %>

<p style="display: flex; justify-content: center; text-shadow: 2px 2px 4px grey;">
  <span style="border: 3px solid grey; padding: 4px"> <%= link_to 'New Post', new_user_post_path(@user) %></span>
</p>
