form#new_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    margin-top: 8px;
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
}